
/* Página General */


.movimientos-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-color: var(--IDA-Body-Grey-Background);
    padding: 30px;
}

/* Calendario */

.calendar-flex {
    display: flex;
    flex-direction: column;
    background-color: var(--White);
}

.calendar-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00000020;
    color: var(--IDA-Tittles-Color);
    padding-bottom: 16px !important;
}

.calendar-left-header {
    display: flex;
    align-items: center;
}


.current-month {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin: 0;
    cursor: pointer;
}

.current-month:hover {
    background-color: var(--Media-Hit-Light-Grey);
}

.calendar-left-header i {
    font-size: 20px;
    width: 28px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.calendar-left-header i:hover {
    background-color: var(--Media-Hit-Light-Grey);
}

.current-year {
    cursor: pointer;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;

}

.current-year:hover {
    background-color: var(--Media-Hit-Light-Grey);
}


.calendar-flex .icons {
  display: none;      
} 

/* Dias */

.calendar-box ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
    color: var(--IDA-Tittles-Color);
}
.calendar-box li {
    position: relative;
    width: calc(100% / 7);
    text-align: center;
}

.weeks {
    margin-top: 24px;
}

.weeks li {
    font-weight: 500;
}

.days li {
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
}

.days li::before {
    z-index: -1;
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.days li:hover::before {
    background-color: var(--Media-Hit-Light-Grey);
}

.days li.inactive-day {
    color: var(--IDA-Muted-Grey);
}

.days li.selected-day {
    color: var(--White);
}

.days li.selected-day::before {
    background-color: var(--Media-Hit-Pink);
}

/* PopUp de Meses */
.Months-Popup {
    position: absolute;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
   
    /* height: auto; */
}

.Months-Popup ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    padding-inline-start: 0;
    color: var(--IDA-Tittles-Color);
    align-items: center;
 }

.Months-Popup li {
    position: relative;
    width: calc((100% / 3) - 24px);
    background-color: var(--Media-Hit-Light-Grey);
    text-align: center;
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    
}



/* Lista de Movimientos */

.movimientos-list-flex {
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    align-items: center;
    padding: 30px 0;
    max-height: calc(100vh - 100px) !important;
    min-height: 100px !important;
}

.movimientos-list-container header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #00000020;
    color: var(--IDA-Tittles-Color);
    padding-bottom: 16px;
    width: calc(100% - 60px);
}

.movimientos-list-container div.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}


.interface-icon {
    padding: 8px 8px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.interface-icon:hover {
    background-color: var(--Media-Hit-Light-Grey);
}

.movimientos-list{
    width: 100%;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow-y: auto;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.movimientos-list a{
    text-decoration: none;
}

.movimientos-list li:hover {
    background-color: var(--Media-Hit-Light-Grey);
}

.list-content {
    display: grid;
    grid-template-columns: 60px 1fr auto;
    align-items: center;
    list-style: none;
    padding: 1em 30px;
}

.line-divider {
    width: calc(100% - 60px);
    border-bottom: 1px solid #00000020;
    margin-left: 30px;
    margin-right: 30px;
}

.movimiento-first-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 50%;
    background-color: var(--IDA-Fondo-Gris);
    font-size: 24px;
    color: var(--White);
    line-height: 8px;
}

.movimiento-second-column {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 10px;
}

.movimiento-second-column div {
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}

.movimiento-details {
    align-items: flex-end;
    padding-top: 5px;
}

.movimiento-list-agente {
    font-size: 18px;
    font-weight: 400;
    color: var(--IDA-Tittles-Color);
    margin: 0;
    line-height: 18px;
}

.movimiento-list-description {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding-left: 10px;
    color: var(--IDA-Muted-Grey);
    font-style: italic;
    line-height: 16px;

    /* Que no haga doble línea */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Número de líneas deseadas, en este caso, 1 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.movimiento-categories {
    align-items: flex-start;
    gap: 10px;

}

.movimiento-list-category{
    font-size: 11px;
    color: var(--White);
    background-color: var(--IDA-Muted-Grey);
    padding: 5px 8px;
    border-radius: 5px;
    margin: 0;

    /* Que no haga doble línea */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Número de líneas deseadas, en este caso, 1 */
    overflow: hidden;
    text-overflow: ellipsis;

}

.movimiento-third-column {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    padding-left: 1em;
}

.movimiento-list-date {
    font-size: 11px;
    font-weight: 400;
    color: var(--IDA-Muted-Grey);
    margin: 0;
    line-height: 18px;
    text-align: right;
}

.movimiento-list-amount {
    font-size: 1rem;
    color: var(--IDA-Tittles-Color);
    margin: 0;
    text-align: right;
}




/* Estilos Celular */

@media screen and (max-width: 800px) {
    .movimientos-page {
      grid-template-columns: 1fr;
      padding: 0;
      gap: 10px;
    }

    .days li {
        margin-top: 20px;
        cursor: pointer;
        z-index: 1;
    }

    .calendar-container {
        position: sticky;
        top: 40px;
    }

    .current-year{
        display: none;
    }
    .calendar-flex .icons {
        display: block;      
    }

    .movimientos-list-flex {
        padding-top: 0;
        padding-bottom: 0;
    }

    .movimientos-list-flex header {
        display: none;
    }


  }