
/* Página General */

.movimientos-page {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 30px;
    background-color: var(--IDA-Body-Grey-Background);
    min-height: 1fr;
    padding: 30px;
}

/* Calendario */

.calendar-container {
    background-color: var(--White);
    height: auto;
}

.calendar-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00000020;
    color: var(--IDA-Tittles-Color);
    padding-bottom: 16px !important;
}

.calendar-left-header {
    display: flex;
    align-items: center;
}

.current-month {
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0;
    cursor: pointer;
}

.current-month:hover {
    background-color: var(--Media-Hit-Light-Grey);
}

.calendar-left-header i {
    font-size: 20px;
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
    cursor: pointer;
}

.calendar-left-header i:hover {
    background-color: var(--Media-Hit-Light-Grey);
}

.current-year {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0;

}

.current-year:hover {
    background-color: var(--Media-Hit-Light-Grey);
}

/* Dias */

.calendar-box ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
    color: var(--IDA-Tittles-Color);
}
.calendar-box li {
    position: relative;
    width: calc(100% / 7);
    text-align: center;
}

.weeks {
    margin-top: 24px;
}

.weeks li {
    font-weight: 500;
}

.days li {
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
}

.days li::before {
    z-index: -1;
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.days li:hover::before {
    background-color: var(--Media-Hit-Light-Grey);
}

.days li.inactive-day {
    color: var(--IDA-Muted-Grey);
}

.days li.selected-day {
    color: var(--White);
}

.days li.selected-day::before {
    background-color: var(--Media-Hit-Pink);
}



/* Lista de Movimientos */

.movimientos-list-container {
    background-color: var(--White);
}