:root{
    /* Main Colors*/
    --White: #FFFFFF;
    --Black: #000000;
    --Media-Hit-Blue: #4280f5;
    --Media-Hit-Pink: #F5427E;
    --Media-Hit-Grey: #606060;

    /* Secondary Colors*/
    --Media-Hit-Dark-Blue: #0068CE;
    --Media-Hit-Light-Blue: #4E9BFB;
    --Media-Hit-Light-Grey: #EFF2F7;
    --Media-Hit-Dark-Grey: #4F5050;

    /*Especial Colors*/
    --Media-Hit-Green: #4EE32D;
    --Media-Hit-Red: #F53A31;
    --Media-Hit-Yellow: #FFD926;

    /* Interface Colors */
    --IDA-Body-Grey-Background: #EFF2F7;
    --IDA-Tittles-Color: #2e3e4e;
    --IDA-Fondo-Gris: #2e3e4e;
    --IDA-Texto-Sobre-Fondo: #b6bcc2;
    --IDA-Muted-Grey: #00000050;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.inactive {
    display: none;
}

.box-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.box-padding {
    padding: 30px 30px;
}

.tittle {
    font-size: 1.45rem;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tittle-light {
    font-size: 1.45rem;
    font-weight: 200;
    padding-top: 5px;
    padding-bottom: 5px;
}

.interface-icon {
    font-size: 1rem !important;
}




/* Menú Principal */

.sidebar {
    display: grid;
    grid-template-rows: auto 1fr auto ;
    width: 200px;
    height: 100vh;
    background-color: var(--IDA-Fondo-Gris);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Logo del Menú */

.sidebar-logo-container {
    padding: 20px 0 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.sidebar-logo {
    width: 105px;
}

/* Links del Menú */

.sidebar-items-nav {
    padding: 0;
}

.sidebar-items-container {
    padding: 0;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

.side-bar-category {
    list-style: none;
    color: var(--IDA-Texto-Sobre-Fondo);
    font-size: 13px;
    padding: 20px 0 14px 20px;
}

.sidebar-items-container {
    display: flex;
    flex-direction: column;
}

.item-box {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--IDA-Texto-Sobre-Fondo);
    padding: 6px 16px 6px 20px;
    cursor: pointer;
}

.item-box:hover {
    background-color: #293947;
}

.item-icon {
    height: 18px;
    padding-top: 4px;
}

.item-text {
    padding-left: 6px;
    font-size: 14px;
}

/* Perfil del Menú */

.sidebar-profile-container {
    padding: 20px;
    border-top: 1px solid #3d5369;
    cursor: pointer;
    position: sticky;
    bottom: 0;
    z-index: 1;

}

.sidebar-profile-container:hover {
    background-color: #293947;
}

.sidebar-profile-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
}

.sidebar-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.sidebar-profile-info {
    display: flex;
    flex-direction: column;
    color: var(--IDA-Texto-Sobre-Fondo);
}

.sidebar-profile-name {
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 6px;
}

.sidebar-profile-position {
    font-size: 12px;
    color: #506d89;
}
